

<div class="configuration-container">
    <input type="number" id="beginBpm" [(ngModel)]="beginBpm" placeholder="BPM Início">
    <input type="number" id="finalBpm" [(ngModel)]="finalBpm" placeholder="BPM Final">
    <input type="number" id="fullDuration" [(ngModel)]="fullDuration" placeholder="Duração do Treino (Segundos)">
    <input type="number" id="stepDuration" [(ngModel)]="stepDuration" placeholder="Aumentar BPM a cada quanto tempo? (Segundos)">
</div>

<button (click)="generateSteps()">Generate steps</button>
<button (click)="playSteps()">Play!</button>

<app-metronome [displayAndControlVisualElements]="false" [hidden]="steps.length === 0" #metronome></app-metronome>
<div class="time-text-container" *ngIf="steps.length > 0">
    <span>Tempo restante no Treino: {{ decreaseTimer }}</span>
    <span>Tempo restante no Exercício: {{ stepRemainingTime }}</span>
</div>

<div class="training-steps-container">
    <p *ngFor="let step of steps;">
        <span>- Step {{ step.index }}: </span>
        <span>BPM {{ step.beatsPerMinute }} - </span>
        <span>Duration (ms) {{ step.duration }}</span>
    </p>
</div>