<div *ngIf="displayAndControlVisualElements">
    <input
        type="number" 
        min="0" 
        [(ngModel)]="beatsPerMinute"
        (change)="updateBpm()" 
        (keyup)="updateBpm()">
    <button (click)="start()">Start Metronome!</button>
    <button (click)="stop()">Stop Metronome!</button>
    <br>
    <button (click)="addBpm(-1)">- 1</button>
    <button (click)="addBpm(-5)">- 5</button>
    <button (click)="addBpm(-10)">- 10</button>
    <button (click)="addBpm(10)">+ 10</button>
    <button (click)="addBpm(5)">+ 5</button>
    <button (click)="addBpm(1)">+ 1</button>
</div>
<div *ngIf="!displayAndControlVisualElements">
    <span>BPM Atual: {{ beatsPerMinute }}</span>
</div>